"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      paintCursor: true
      predefinedColor: "Indigo"
    tabs:
      tintedTabBar: true
    treeView:
      blendTabs: true
    ui:
      panelShadows: true
  core:
    disabledPackages: [
      "linter-sass-lint"
      "merge-conflicts"
      "atom-bootstrap3"
      "atom-jade"
      "atom-live-server"
      "codeigniter"
      "jade"
      "language-haml"
      "language-pug"
      "language-vue"
      "linter"
      "linter-haml"
      "linter-scss-lint"
      "linter-ui-default"
      "markdown-writer"
      "docblockr"
      "language-csharp"
      "language-c"
      "language-clojure"
      "language-go"
      "language-java"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-shellscript"
      "language-sql"
      "language-toml"
      "spell-check"
      "welcome"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "gloom"
    ]
  "exception-reporting":
    userId: "48db704c-36c9-4d83-a97f-14c204e98d66"
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
